@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-x {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

.animate-gradient-x {
	animation: gradient-x 15s ease infinite;
	background-size: 400% 400%;
}

@keyframes bounce-subtle {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-3px);
	}
}

.animate-bounce-subtle {
	animation: bounce-subtle 2s infinite ease-in-out;
}
